@import "node_modules/magnific-popup/src/css/main";
@import "animations/fade";

.popup {
  position: relative;
  background: #FFF;
  padding: 20px;
  width: auto;
  max-width: 500px;
  margin: 20px auto;
}
